<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The <%= link_to "Ruby on Rails Tutorial", href="https://www.railstutorial.org/" %>, part of the
  <%= link_to "Learn Enough",
  href="https://www.learnenough.com/" %>
  family of tutorials, is a
  <%= link_to "book",
  href="https://www.railstutorial.org/book" %> and
  <%= link_to "screencast series", href="https://screencasts.railstutorial.org/" %>
  to teach web development with
  <%= link_to "Ruby on Rails",
  href="https://rubyonrails.org/" %>.
  This is the sample app for the tutorial.
</p>
